.nav-menu .nav-menu-show {
  visibility: visible;
}

.nav-menu .nav-menu-hide {
  visibility: hidden;
}

nav {
	display: flex;
	align-items: center;
	margin: 0.5rem;
}

nav .nav-logo {
	background-color: var(--logo-secondary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	/* border-radius: 100%; */
}

nav .nav-logo svg {
	margin: 0.5rem;
	width: 3rem;
	height: 3rem;
}

/* nav .nav-icons svg {
	margin: 0.5rem;
	width: 3rem;
	height: 3rem;
} */

nav .nav-menu {
	width: -webkit-fill-available;
	display: flex;
	justify-content: space-between;
	margin-left: 2rem;
}

nav .nav-icons {
	font-size: 4rem;
	position: absolute;
	right: 0;
	cursor: pointer;
	z-index: 1500;
	display: flex;
	align-items: center;
	margin-right: 1rem;
  visibility: hidden;
}


