.nav-list {
	display: flex;
}

/* .nav-list .show {
  visibility: visible;
}

.nav-list .hide {
  visibility: hidden;
} */

.nav-list > li {
	line-height: 4rem;
	position: relative;
	margin: 0 0.1rem;
}

/* nav-list li */
.nav-list .sub-menu li {
	line-height: 3rem;
	position: relative;
}

/* nav-list links */
.nav-list a {
	display: block;
	padding: 0 1.5rem;
	font-size: 1.4rem;
	text-transform: uppercase;
	transition: color 650ms;
}

.nav-list a:hover {
	font-weight: 900;
	background-color: rgb(185, 215, 234);
}

/* nav-list buttons */
.nav-list .btn {
	display: inline-block;
	background-color: var(--logo-secondary-color);
	transition: background-color 650ms;
}

.nav-list .btn:hover {
	color: var(--btn-on-hover);
	background-color: rgba(0, 0, 0, 0.2);
}

/* nav list submenus */
.nav-list .sub-menu {
	width: 20rem;
	display: block;
	position: absolute;
	background-color: #f4f4fee1;
	z-index: 100;
	top: 10rem;
	opacity: 0;
	visibility: hidden;
	transition: all 650ms ease;
}

.nav-list-right .sub-menu {
	right: 0;
	text-align: end;
}

.nav-list .sub-menu > a:hover {
	color: var(--btn-on-hover);
	background-color: var(--logo-secondary-color);
}

.nav-list .sub-menu::before {
	content: "";
	position: absolute;
	top: -2.5rem;
	left: 3rem;
	border: 1.2rem solid transparent;
}

.nav-list .sub-menu .sub-menu::before {
	top: 0.9rem;
	left: -2.5rem;
	border: 1.2rem solid transparent;
}

.nav-list .sub-menu .sub-menu {
	border-top: none;
	top: 0;
	left: 160%;
}

.nav-list .sub-menu li.system-tables .sub-menu {
	border-top: none;
	left: -160%;
}

.nav-list li:hover > .sub-menu {
	top: 4rem;
	opacity: 1;
	visibility: visible;
}
.nav-list .sub-menu li:hover > .sub-menu {
	top: 0;
	left: 100%;
}

.nav-list-right .sub-menu li:hover > .sub-menu {
	top: 0;
	left: -100%;
}

.nav-list .user-tooltip {
	font-size: 2rem;
}

@media screen and (max-width: 850px) {
	.nav-list-right {
		top: 2rem;
	}
	.nav-list-left {
		top: 8rem;
	}

	.nav-list {
		position: fixed;
		left: 0;
		/* height: 100vh; */
		flex-direction: column;
		align-items: initial;
		background-color: #e3e3e3ca;
		z-index: 1000;
		color: rgb(18, 18, 18);
		/* visibility: hidden; */
		/* overflow-y: scroll; */
	}

	.nav-menu {
		visibility: hidden;
	}

	nav .nav-icons {
		visibility: visible;
	}
}
