.nav-list {
	display: flex;
	/* width: 100%; */
}

.nav-list > li {
	line-height: 4rem;
	position: relative;
  margin: 0 1rem;
}

/* navlist li */
.nav-list .sub-menu li {
	line-height: 3rem;
	position: relative;
}

/* navlist links */
.nav-list a {
	display: block;
	padding: 0 1.5rem;
	font-size: 1.4rem;
	text-transform: uppercase;
	transition: color 650ms;
}

.nav-list a:hover {
	/* color: var(--btn-on-hover); */
	/* box-shadow: 0 2px 0 var(--btn-on-hover); */
	/* border-bottom: 10px solid var(--btn-on-hover); */
	/* border-radius: 2rem; */
	font-weight: 900;
  background-color: rgb(185,215,234);
}

/* navlist buttons */
.nav-list .btn {
	/* padding: 0.1rem; */
	display: inline-block;
	background-color: var(--logo-secondary-color);
	/* border-radius: 5rem; */
	transition: background-color 650ms;
}

.nav-list .btn:hover {
	color: var(--btn-on-hover);
	background-color: rgba(0, 0, 0, 0.2);
}

/* nav list submenus */
.nav-list .sub-menu {
	width: 20rem;
	display: block;
	position: absolute;
	/* box-shadow: 0 1px 0 #000 inset,  1px 0 0 #000 inset; */
	background-color: #f4f4fee1;
	z-index: 100;
	top: 10rem;
	opacity: 0;
	visibility: hidden;
	transition: all 650ms ease;
}

.navlist-right .sub-menu {
	right: 0;
	text-align: end;
}

.nav-list .sub-menu > a:hover {
	color: var(--btn-on-hover);
	/* box-shadow: 0 1px 0 #000; */
	/* border-bottom: 10px solid var(--btn-on-hover); */
	/* border-radius: 2rem; */
	background-color: var(--logo-secondary-color);
}

.nav-list .sub-menu::before {
	content: "";
	position: absolute;
	top: -2.5rem;
	left: 3rem;
	border: 1.2rem solid transparent;
}

/* .nav-list li.move-right .sub-menu::before {
	left: 80%;
} */

.nav-list .sub-menu .sub-menu::before {
	top: 0.9rem;
	left: -2.5rem;
	border: 1.2rem solid transparent;
}

.nav-list .sub-menu .sub-menu {
	border-top: none;
	top: 0;
	left: 160%;
}

.nav-list .sub-menu li.system-tables .sub-menu {
	border-top: none;
  left: -160%;
}

.nav-list li:hover > .sub-menu {
	top: 4rem;
	opacity: 1;
	visibility: visible;
}

/* .nav-list li.move-right > .sub-menu {
	right: 0;
} */

/* .nav-list li.move-right:hover > .sub-menu {
	top: 5rem;
	right: 0;
	opacity: 1;
	visibility: visible;
} */

.nav-list .sub-menu li:hover > .sub-menu {
	top: 0;
	left: 100%;
}

.navlist-right .sub-menu li:hover > .sub-menu {
	top: 0;
	left: -100%;
}

/* .nav-list li.move-right {
	margin: auto 2rem auto auto;
} */

.user-tooltip {
  font-size: 2rem;
}
